@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
};

#main-container {
  display: flex;
  justify-content: start;
  flex-flow: row;
  max-width: 100px;
};

.card {
  background-color: lightgrey;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 300px;
  min-height: 400px;
};

#filter-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
};

#form-container {
  color: white;
  padding-left: 300px;
  padding-right: 300px;
  text-align: left;
  font-size: larger
};

.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}
